
BASE_URL=https://your-app.up.railway.app


MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/project_matchmaker?retryWrites=true&w=majority


GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Socket Server Port (Default is 3001)
PORT=3001
